// Bootstrap library.
@import 'base/bootstrap';

// Layout and Drupal Modules Theming.
@import 'layout/_all.scss';  // Theme Customizations for Region/Layout changes //
@import 'components/_all.scss';  // Theme Customizations for Components //

//Custom Page Styles
@import 'pages/_all.scss';

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.clear {
	@include clearfix();
}