.global-message {
	background: $brandblue;
	font-weight: 300;
	color: #fff;
	height: 0;
	text-align: center;
  line-height: 21px;
  p {
  	margin-top: 10px;
  	strong {
  		font-weight: 300;
  	}
  }
	overflow: hidden;
	@include transition(height .5s .5s);
	&.active {
		overflow: visible;
		height: auto;
	}
}