//Customazation of modals
.clickable {
	cursor: pointer;
}
.modal {
	.modal-dialog {
		@include make-xs-column(12);
		padding: 0;
		margin: 0;
		min-height: 100%;
		background: rgba(23,144,193,1);
		background: -moz-linear-gradient(-45deg, rgba(23,144,193,1) 0%, rgba(23,144,193,1) 30%, rgba(2,198,199,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(23,144,193,1)), color-stop(30%, rgba(23,144,193,1)), color-stop(100%, rgba(2,198,199,1)));
		background: -webkit-linear-gradient(-45deg, rgba(23,144,193,1) 0%, rgba(23,144,193,1) 30%, rgba(2,198,199,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(23,144,193,1) 0%, rgba(23,144,193,1) 30%, rgba(2,198,199,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(23,144,193,1) 0%, rgba(23,144,193,1) 30%, rgba(2,198,199,1) 100%);
		background: linear-gradient(135deg, rgba(23,144,193,1) 0%, rgba(23,144,193,1) 30%, rgba(2,198,199,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1790c1', endColorstr='#02c6c7', GradientType=1 );
		.modal-content {
			height: 100%;
			border-radius: 0;
			background: transparent;
			.modal-body {
				margin-top: 100px;
				color: #FFF;
				button {
					color: #FFF;
					text-shadow: none;
					font-size: 50px;
					font-weight: 100;
					position: absolute;
					right: 50px;
					top: -80px;
					opacity: 1;
					z-index: 1;
					&:focus {
						border: none;
						outline: none;
						box-shadow: none;
					}
				}
				#bio-line {
					position: absolute;
					top: -118px;
					left: 0;
			    stroke-dasharray: 400;
			    stroke-dashoffset: 150px;
				}
				.headshot {
					@include make-xs-column(12);
					@include make-sm-column(5);
					@include make-md-column(3);
					img {
						width: 100%;
					}
					.connect {
						@include make-xs-column(12);
						text-transform: uppercase;
						padding-left: 0;
						h3 {
							font-weight: $bold;
							font-size: 17px;
							letter-spacing: 0.78px;
							padding-top: 0px;
						}
						a {
							&:hover, &:focus {
								color: #FFF;
								text-decoration: none;
								cursor: pointer;
							}
							&.email {
								color: #FFF;
								font-weight: 300;
								margin: 24.75px 0 31.5px 0;
								font-size: 17px;
							}
							&.personal-social {
								margin-top: 31.5px;
								.social-svg {
									margin-top: 15px;
									margin-right: 20px;
								}
							}
						}
					}
				}
				.content {
					@include make-xs-column(12);
					@include make-sm-column(7);
					@include make-md-column(9);
					padding-left: 30px;
					h3 {
						text-transform: uppercase;
						font-weight: $headline;
						font-size: 58px;
						line-height: 55px;
						letter-spacing: 1.5px;
						margin-bottom: 24px;
						margin-top: 0;
					}
					h4 {
						strong {
							font-weight: 400;
							font-size: 17px;
							line-height: 37px;
							color: #FFF;
						}
						font-weight: 300;
						font-size: 17px;
						color: #00F5EE;
						text-align: left !important;
					}
					.column {
						@include make-xs-column(12);
						@include make-md-column(5.5);
						padding: 0;
						margin-top: 20px;
						&:first-of-type {
							margin-right: 35px;
						}
					}
					p {
						margin-top: 10px;
						margin-bottom: 5px;
						font-size: 15px;
						line-height: 20px;
						font-weight: 300;
						a {
							color: #FFF;
							text-decoration: underline;
							&:hover {
								color: #FFF;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
} 

@media (min-width: 1441px) {
	.modal {
		.modal-dialog {
			.modal-content {
				.modal-body {
					.content {
						@include make-xs-column(12);
						@include make-sm-column(7);
						@include make-md-column(9);
						padding-left: 30px;
					}
				}
			}
		}
	}
}

@media (min-width:1201px) {
	.modal {
		.container {
			width: 100%;
		}
	}
	.modal-content {
		box-shadow: none;
		border-bottom: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.modal {
		.modal-dialog {
			.modal-content {
				.modal-body {
					#bio-line {
						stroke-dasharray: 315;
						stroke-dashoffset: 634;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.modal {
		.modal-dialog {
			.modal-content {
				box-shadow: none !important;
				border: none;
				.modal-body {
					margin-top: 50px;
					.headshot {
						margin-bottom: 20px;
						padding-left: 0;
						padding-right: 0;
						.connect {
							display: none;
						}
					}
					.content {
						padding-left: 0;
						padding-right: 0;
						background: transparent;
						h3 {
							font-size: 40px;
					    line-height: 47px;
					    margin-bottom: 0;
						}
						h4 {
							strong {
								line-height: 22px;
							}
						}
					}
					button {
						right: 25px;
						top: -50px;
					}
				}
			}
		}
	}
}