html, body {
	height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
.home {	
	height: 100%;
	background-image: url('/assets/img/bg@2x.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-container {
	width: 100%;
	background-image: url('/assets/img/bg@2x.jpg');
	height: 100%;
	padding-bottom: 80px;
	//opacity: 0.4;
	//background-image: url('/assets/img/bg-2_v2.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.container {
	padding-top: 85px;
}

h1 {
	/* If using svg for logo text */
	position:absolute;
	top: -100%;

	font-size: 48px;
	font-family: 'GothamLight';
	text-align: center;
	width: 100%;
	letter-spacing: 6px;
	word-spacing: -13px;
	margin-bottom: 90px;
	text-transform: uppercase;
	display: inline-block;
  color: #5CA17C; /*non-webkit fallback*/
  background:
		-webkit-linear-gradient(45deg, hsla(165, 77%, 68%, 1) 0%, hsla(165, 77%, 68%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(217, 100%, 27%, 1) 10%, hsla(217, 100%, 27%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(303, 100%, 55%, 1) 10%, hsla(303, 100%, 55%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(207, 98%, 41%, 1) 100%, hsla(207, 98%, 41%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(165, 77%, 68%, 1) 0%, hsla(165, 77%, 68%, 0) 70%),
		linear-gradient(135deg, hsla(217, 100%, 27%, 1) 10%, hsla(217, 100%, 27%, 0) 80%),
		linear-gradient(225deg, hsla(303, 100%, 55%, 1) 10%, hsla(303, 100%, 55%, 0) 80%),
		linear-gradient(315deg, hsla(207, 98%, 41%, 1) 100%, hsla(207, 98%, 41%, 0) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

h2, p {
	font-family: 'GothamLight';
	color: rgba(255,255,255, 0.8);
	text-align: center;
}
h2 {
	margin: 0 0 20px 0;
	font-size: 26px;
	line-height: 36px;
}

p {
  max-width: 485px;
  line-height: 2.2;
	margin: 20px auto 100px;
}

.logo {
	width: 80px;
  margin: 0 auto;
	svg {
		width: 100%;
	}
}
.logo-text {
	width: 580px;
	margin: 30px auto 80px;
	svg {
		width: 100%;
	}
}

.divider {
	height: 1px;
	width: 70px;
	margin: 0 auto;
}
.divider.back-to-it {
	background: rgba(193,87,96,1);
	background: -moz-linear-gradient(left, rgba(193,87,96,1) 0%, rgba(205,132,99,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(193,87,96,1)), color-stop(100%, rgba(205,132,99,1)));
	background: -webkit-linear-gradient(left, rgba(193,87,96,1) 0%, rgba(205,132,99,1) 100%);
	background: -o-linear-gradient(left, rgba(193,87,96,1) 0%, rgba(205,132,99,1) 100%);
	background: -ms-linear-gradient(left, rgba(193,87,96,1) 0%, rgba(205,132,99,1) 100%);
	background: linear-gradient(to right, rgba(193,87,96,1) 0%, rgba(205,132,99,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c15760', endColorstr='#cd8463', GradientType=1 );
}

.cta-container {
	width: 218px;
	margin: 0 auto;
}
a {
	font-family: 'GothamBook';
	text-transform: uppercase;
	color: #fff;
	position: relative;
	z-index: 10;
	text-decoration: none;
	letter-spacing: 2px;
	margin-bottom: 50px;
	padding: 20px 50px;
	background-color: rgba(255,255,255,0);
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #662f76 0%, #963d6f 100%);
	-webkit-border-image: -webkit-linear-gradient(left, #662f76 0%, #963d6f 100%);
	border-image: linear-gradient(to right, #662f76 0%, #963d6f 100%);
	border-image-slice: 1;
  transition: 0.5s;
  &:hover {
  	color: rgba(255,255,255, 0.9);
  	text-decoration: none;
  	border-image: none;
  	border: 1px solid rgba(0,0,0,0);
  }
  &:visited {
  	color: rgba(255,255,255, 0.9);
  	text-decoration: none;
  }
}
.bg-color {
	width: 215px;
  background-color: red;
  height: 57px;
  margin-top: -39px;
	position: absolute;
	opacity: 0;
	border: 2px solid #fff;
	transition: 1.5s;
}

@-moz-document url-prefix() { 
  html, body {
  	width: 101% !important;
  }
  .bg-color {
  	margin-top: -41px;
  }
  .bg-container {
  	background: none;
  }
}


@media (min-width: 1441px) {}

@media (max-width: 1440px) {}

@media (min-width: 1166px) {}

@media (min-width:992px) and (max-width:1166px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width:767px) {}

/* @media (min-width:661px) {
	.home {
		height: 100%;
	}
} */
@media (max-width:660px) {
	.bg-container {
		background-position: 50%;
	}
	h1 {
		font-size: 30px;
		margin-bottom: 50px;
		-webkit-transition: 1s;
		transition: 1s;
	}
	h2 {
		font-size: 24px;
    line-height: 33px;
	}
	.logo {
		width: 95px;
	}
	.logo-text, p {
		width: 90%;
	}
	p {
		margin-bottom: 80px;
	}
}

@media (max-width: 450px) {}

@media (max-width:320px) {}

